{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LMS Auth{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/inter_font.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/auth_styles.css' %}">
    
</head>
{# Allow child templates to override the body class completely if needed #}
<body class="{% block body_class_override %}auth-page-base auth-page-dashboard{% endblock %}"> 
    <div class="auth-container"> 
        {% block auth_content %}
        {% endblock auth_content %}
    </div>
    
    {% bootstrap_javascript %}
    {% block page_specific_scripts %}{% endblock %}
</body>
</html>
